# Auto detect text files and perform LF normalization
* text=auto
SymconJSLive/js/canvas-gauges/2.1.7-jslive.1/* text eol=lf
SymconJSLive/js/loading-Bar/0.1.1-jslive.1/* text eol=lf
SymconJSLive/js/jquery/4.0.0/* text eol=lf
SymconJSLive/js/chartjs/4.5.1/* text eol=lf
SymconJSLive/js/moment/2.31.0/* text eol=lf
SymconJSLive/js/chartjs/plugins/moment/1.0.1/* text eol=lf
SymconJSLive/js/chartjs/plugins/datalabels/2.2.0/* text eol=lf
SymconJSLive/js/chartjs/plugins/streaming/3.6.0/* text eol=lf
